In [1]:
import boto3

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
import boto3

In [3]:
s3 = boto3.resource(service_name = 's3',
                     region_name = 'us-east-2',
                    aws_access_key_id= 'AKIA2EZZKSXVU7FABPQG',
                    aws_secret_access_key='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')

In [4]:
for bucket in s3.buckets.all():
    print(bucket.name)

movierecommendationsystemapp

In [5]:
movie_obj = s3.Bucket('movierecommendationsystemapp').Object('movies.csv').get()
movies = pd.read_csv(movie_obj['Body'])

In [6]:
link_obj = s3.Bucket('movierecommendationsystemapp').Object('links.csv').get()
links = pd.read_csv(link_obj['Body'])

In [7]:
tag_obj = s3.Bucket('movierecommendationsystemapp').Object('tags.csv').get()
tags = pd.read_csv(tag_obj['Body'])

In [8]:
rating_obj = s3.Bucket('movierecommendationsystemapp').Object('ratings.csv').get()
ratings = pd.read_csv(rating_obj['Body'])


# session = boto3.session.Session(aws_access_key_id='AKIA2EZZKSXVWZYODU4I', 
#                                 aws_secret_access_key='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')
# movies = wr.s3.read_csv(path='s3://movierecommendationsystemapp/movies.csv/',
#                     boto3_session=session,
#                     skiprows=2,
#                     sep=';',
#                     decimal=',')

# bucket = 'movierecommendationsystemapp'
# dir_data = 'movies.csv/'
# path = f"s3://{bucket}/{dir_data}"
# movies=wr.s3.read_csv(path=dir_path)
# print(movies)

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [10]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [11]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [12]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [13]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(movies['genres'])
tfidf_matrix.shape

(62423, 191)

In [14]:
movie_test = pd.DataFrame(tfidf_matrix.todense(), columns=tf.get_feature_names(), index=movies.title).sample(5, axis=1).sample(10, axis=0)
movie_test.head(10)

,documentary war,children horror,comedy war,horror thriller,fi thriller
title,,,,,
Florida Man (2015),0.0,0.0,0.0,0.0,0.0
Arunachalam (1997),0.0,0.0,0.0,0.0,0.0
One Tough Cop (1998),0.0,0.0,0.0,0.0,0.0
House III: The Horror Show (1989),0.0,0.0,0.0,0.0,0.0
The Summer House (2014),0.0,0.0,0.0,0.0,0.0
Twister (1990),0.0,0.0,0.0,0.0,0.0
You're Not You (2014),0.0,0.0,0.0,0.0,0.0
Insatiability (2003),0.0,0.0,0.0,0.0,0.0
Catfish (2010),0.0,0.0,0.0,0.0,0.0
Night Train to Terror (1985),0.0,0.0,0.0,0.0,0.0

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix)

In [17]:
cosine_sim_df = pd.DataFrame(cosine_sim, index=movies['title'], columns=movies['title'])
print('Shape:', cosine_sim_df.shape)
cosine_sim_df.sample(4, axis=1).round(2)

Shape: (62423, 62423)

title,Allegheny Uprising (1939),Yelling To The Sky (2012),Two Brothers (Deux frères) (2004),"Public Woman, The (Femme publique, La) (1984)"
title,,,,
Toy Story (1995),0.09,0.00,0.22,0.00
Jumanji (1995),0.11,0.00,0.59,0.00
Grumpier Old Men (1995),0.00,0.00,0.00,0.00
Waiting to Exhale (1995),0.00,0.28,0.05,0.28
Father of the Bride Part II (1995),0.00,0.00,0.00,0.00
...,...,...,...,...
We (2018),0.00,1.00,0.19,1.00
Window of the Soul (2001),0.00,0.00,0.00,0.00
Bad Poems (2018),0.00,0.40,0.07,0.40
A Girl Thing (2001),0.00,0.00,0.00,0.00
Women of Devil's Island (1962),0.45,0.22,0.20,0.22

In [18]:
titles = movies['title']
indices = pd.Series(movies.index, index=movies['title']).drop_duplicates()

# Function that get movie recommendations based on the cosine similarity score of movie genres

def genre_recommendations(title):
    i = indices[title]
    similarity_score = list(enumerate(cosine_sim[i]))
    similarity_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)
    similarity_score = similarity_score[1:11]
    movie_index = [i[0] for i in similarity_score]
    return titles.iloc[movie_index]

In [20]:
genre_recommendations('Avengers, The (2012)')

7923                            Spider-Man 2 (2004)
10890                       Superman Returns (2006)
13285                              Star Trek (2009)
13460    Transformers: Revenge of the Fallen (2009)
14102                                 Avatar (2009)
15674                           Tron: Legacy (2010)
17067                          Avengers, The (2012)
17872                            John Carter (2012)
18241                Amazing Spider-Man, The (2012)
19615                               Oblivion (2013)
Name: title, dtype: object