In [2]:
import boto3

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
import boto3

In [4]:
s3 = boto3.resource(service_name = 's3',
                     region_name = 'us-east-2',
                    aws_access_key_id= 'AKIA2EZZKSXVU7FABPQG',
                    aws_secret_access_key='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')

In [5]:
for bucket in s3.buckets.all():
    print(bucket.name)

movierecommendationsystemapp

In [6]:
movie_obj = s3.Bucket('movierecommendationsystemapp').Object('movies.csv').get()
movies = pd.read_csv(movie_obj['Body'], index_col=0)

In [7]:
link_obj = s3.Bucket('movierecommendationsystemapp').Object('links.csv').get()
links = pd.read_csv(link_obj['Body'], index_col=0)

In [8]:
tag_obj = s3.Bucket('movierecommendationsystemapp').Object('tags.csv').get()
tags = pd.read_csv(tag_obj['Body'], index_col=0)

C:\Users\nishg\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [9]:
rating_obj = s3.Bucket('movierecommendationsystemapp').Object('ratings.csv').get()
ratings = pd.read_csv(rating_obj['Body'], index_col=0)


# session = boto3.session.Session(aws_access_key_id='AKIA2EZZKSXVWZYODU4I', 
#                                 aws_secret_access_key='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')
# movies = wr.s3.read_csv(path='s3://movierecommendationsystemapp/movies.csv/',
#                     boto3_session=session,
#                     skiprows=2,
#                     sep=';',
#                     decimal=',')

# bucket = 'movierecommendationsystemapp'
# dir_data = 'movies.csv/'
# path = f"s3://{bucket}/{dir_data}"
# movies=wr.s3.read_csv(path=dir_path)
# print(movies)

In [10]:
movies['genres']

movieId
1         Adventure|Animation|Children|Comedy|Fantasy
2                          Adventure|Children|Fantasy
3                                      Comedy|Romance
4                                Comedy|Drama|Romance
5                                              Comedy
                             ...
209157                                          Drama
209159                                    Documentary
209163                                   Comedy|Drama
209169                             (no genres listed)
209171                         Action|Adventure|Drama
Name: genres, Length: 62423, dtype: object

In [11]:
ratings.head()

        movieId  rating   timestamp
userId
1           296     5.0  1147880044
1           306     3.5  1147868817
1           307     5.0  1147868828
1           665     5.0  1147878820
1           899     3.5  1147868510

In [12]:
links.head()

         imdbId   tmdbId
movieId
1        114709    862.0
2        113497   8844.0
3        113228  15602.0
4        114885  31357.0
5        113041  11862.0

In [13]:
links.head()

         imdbId   tmdbId
movieId
1        114709    862.0
2        113497   8844.0
3        113228  15602.0
4        114885  31357.0
5        113041  11862.0

In [14]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(movies['genres'])
tfidf_matrix.shape

(62423, 191)

In [15]:
movie_test = pd.DataFrame(tfidf_matrix.todense(), columns=tf.get_feature_names(), index=movies.title).sample(5, axis=1).sample(10, axis=0)
movie_test.head(10)

,horror romance,adventure,adventure mystery,musical,documentary thriller
title,,,,,
"One and Only, Genuine, Original Family Band, The (1968)",0.0,0.000000,0.0,0.483451,0.0
The Silent One (1973),0.0,0.000000,0.0,0.000000,0.0
Snakeman (2005),0.0,0.267223,0.0,0.000000,0.0
Dorm (2006),0.0,0.000000,0.0,0.000000,0.0
Inheritance,0.0,0.000000,0.0,0.000000,0.0
Ayan (2009),0.0,0.000000,0.0,0.000000,0.0
Curse of the Oily Man (Sumpah orang minyak) (1956),0.0,0.000000,0.0,0.000000,0.0
"Chile, a Galaxy of Problems (2010)",0.0,0.000000,0.0,0.000000,0.0
Nightmare Circus (1974),0.0,0.000000,0.0,0.000000,0.0
Tweety Pie (1947),0.0,0.000000,0.0,0.000000,0.0

In [16]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix)

In [18]:
cosine_sim_df = pd.DataFrame(cosine_sim, index=movies['title'], columns=movies['title'])
print('Shape:', cosine_sim_df.shape)
cosine_sim_df.sample(4, axis=1).round(2)

Shape: (62423, 62423)

title,"Internet's Own Boy: The Story of Aaron Swartz, The (2014)","Execution of P, The (Kinatay) (2009)",Why Don't You Just Die! (2018),Places in the Heart (1984)
title,,,,
Toy Story (1995),0.0,0.0,0.17,0.00
Jumanji (1995),0.0,0.0,0.00,0.00
Grumpier Old Men (1995),0.0,0.0,0.39,0.00
Waiting to Exhale (1995),0.0,0.0,0.34,0.28
Father of the Bride Part II (1995),0.0,0.0,1.00,0.00
...,...,...,...,...
We (2018),0.0,0.0,0.00,1.00
Window of the Soul (2001),1.0,0.0,0.00,0.00
Bad Poems (2018),0.0,0.0,0.49,0.40
A Girl Thing (2001),0.0,0.0,0.00,0.00
Women of Devil's Island (1962),0.0,0.0,0.00,0.22

In [19]:
titles = movies['title']
indices = pd.Series(movies.index, index=movies['title']).drop_duplicates()

# Function that get movie recommendations based on the cosine similarity score of movie genres

def genre_recommendations(title):
    i = indices[title]
    similarity_score = list(enumerate(cosine_sim[i]))
    similarity_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)
    similarity_score = similarity_score[1:11]
    movie_index = [i[0] for i in similarity_score]
    return titles.iloc[movie_index]

In [23]:
genre_recommendations('A Girl Thing (2001)')

IndexError: index 209169 is out of bounds for axis 0 with size 62423